.TodoItem {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgb(32 35 41 / 15%);
  border-radius: 4px;
}

.TodoItem-p {
  color: #434343;
  margin: 15px 0 15px 22px;
  width: calc(100% - 120px);
  font-size: 18px;
  font-weight: 400;
}
.TodoItem-p--complete {
  text-decoration: line-through;
}
