.container-alert-sincronized{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4242422b;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.container-info-alert{
    width: 100%;
    background: #a1a1a1;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    color: white;
}
.container-info-alert button{
    border: none;
    border-radius: 5px;
    min-width: 120px;
    padding: .8rem;
    transition: all .5s ease-in-out;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}
.container-info-alert button:hover {
    background: rgb(255, 255, 255);

   }
   
.container-info-alert button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;    
   }