.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Icon-container--check {
 width: 40px;

}
.Icon-container--delete {
} 

.Icon-svg {
 width: 15px;
}
.Icon-svg--check{
 width: 22px;
}
.Icon-container:hover .Icon-svg--check {
  fill: #4caf50;
}
.Icon-container:hover .Icon-svg--delete {
  fill: red;
}
