.Icon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Icon-container--check {
 width: 40px;

}
.Icon-container--delete {
} 

.Icon-svg {
 width: 15px;
}
.Icon-svg--check{
 width: 22px;
 fill: rgba(76, 175, 79, 0.855);
}
.Icon-container:hover .Icon-svg--check {
  fill: #1fe225;
}
.Icon-container:hover .Icon-svg--delete {
  fill: red;
}
